# Import Library

In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Load Data with Pandas

In [24]:
data_frame=pd.read_csv('data_sets/data.csv')

#  Lets Play With Our Data
## Shape

In [25]:
data_frame.shape

(768, 10)

##
Some Begining Data

In [26]:
data_frame.head(4)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,True
1,1,85,66,29,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,0,23.3,0.672,32,0.0000,True
3,1,89,66,23,94,28.1,0.167,21,0.9062,False

## Some Ending Data

In [27]:
data_frame.tail()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
763,10,101,76,48,180,32.9,0.171,63,1.8912,False
764,2,122,70,27,0,36.8,0.340,27,1.0638,False
765,5,121,72,23,112,26.2,0.245,30,0.9062,False
766,1,126,60,0,0,30.1,0.349,47,0.0000,True
767,1,93,70,31,0,30.4,0.315,23,1.2214,False

## checking if any row having empty or null value

In [28]:
print(data_frame.isnull().values.any())
# If True, then it contain Empty Data otherwise there is no empty data

False

# Proccess Datasets
## Remove Collumn

In [29]:
# deleting skin collumn completly
del data_frame['skin']
print(data_frame.shape)
data_frame.head()

(768, 9)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,True
1,1,85,66,29,0,26.6,0.351,31,False
2,8,183,64,0,0,23.3,0.672,32,True
3,1,89,66,23,94,28.1,0.167,21,False
4,0,137,40,35,168,43.1,2.288,33,True

# Molding Data Sets

In [31]:
# Mapping the values
"""
This Process is efficient when we want to change naming values to digital values like True=1 and  False=0
"""
map_diabetes = {True : 1, False : 0}

# Setting the map to the data_frame
data_frame['diabetes'] = data_frame['diabetes'].map(map_diabetes)

data_frame.head()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1