# Working With Scikit Learn

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

# Laod Data

In [11]:
data_frame=pd.read_csv('data_sets/data.csv')

In [12]:
data_frame.head()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,True
1,1,85,66,29,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,0,23.3,0.672,32,0.0000,True
3,1,89,66,23,94,28.1,0.167,21,0.9062,False
4,0,137,40,35,168,43.1,2.288,33,1.3790,True

## Delete Correlated Feature
As we see befor **Skin and Thickness** are correlated with each other. So having both feature doesn't make any sence to our model but they arise confusing for our model and impact on performance. So here we remove one of colunm from our dataset.

In [13]:
# deleting skin collumn completly
del data_frame['skin']
print(data_frame.shape)
data_frame.head()

(768, 9)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,True
1,1,85,66,29,0,26.6,0.351,31,False
2,8,183,64,0,0,23.3,0.672,32,True
3,1,89,66,23,94,28.1,0.167,21,False
4,0,137,40,35,168,43.1,2.288,33,True

# Print The Result

In [14]:
print("{0:0.2f}% in training set".format((len(X_train)/len(data_frame.index)) * 100))
print("{0:0.2f}% in test set".format((len(X_test)/len(data_frame.index)) * 100))

69.92% in training set
30.08% in test set

## Molding Dataset

In [15]:
# Mapping the values
map_diabetes = {True : 1, False : 0}

# Setting the map to the data_frame
data_frame['diabetes'] = data_frame['diabetes'].map(map_diabetes)

data_frame.head()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

## Split Train and Test data
By this process we split our dataset by two segment. Here we normally split 70% data for Training our model and 
30% data for Testing our model.

In [16]:
from sklearn.model_selection import train_test_split
feature_column_names=['num_preg','glucose_conc','diastolic_bp','thickness','insulin','bmi','diab_pred','age']
predicted_class_name=['diabetes']

#getting our featured values
x=data_frame[feature_column_names].values
y=data_frame[predicted_class_name].values

split_test_size=0.30
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = split_test_size, random_state = 42)

# Training model Using Gaussian Naive Bayes

In [17]:
from sklearn.naive_bayes import GaussianNB

# create Gaussian Naive Bayes model object and train it with the data
nb_model=GaussianNB()

#train
nb_model.fit(X_train, y_train.ravel())

GaussianNB(priors=None, var_smoothing=1e-09)

# Predicting Trained Result

In [19]:
# This returns array of predicted results
prediction_from_trained_data = nb_model.predict(X_train)

# Performance on Training Data

In [20]:
from sklearn import metrics

# get current accuracy of the model
accuracy = metrics.accuracy_score(y_train, prediction_from_trained_data)
print ("Accuracy of our naive bayes model on training data is : {0:.4f}".format(accuracy))

Accuracy of our naive bayes model on training data is : 0.7672